.section {
  height: 100vh;
  background-color: rgb(32, 32, 32);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
position: relative;

  h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
    line-height: 1.25;
    max-width: 650px;
    margin: 1rem 0;
  }

  &__content {
    width: 100%;
  }

  .grid,
  .actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;

    pre {
      margin: 0!important;
    }
  }
}
