@import "./reset";
@import "./card";
@import "./section";
@import "./button";
@import './hoc';
@import './context-display';

body,
html,
#root {
  height: 100%;
  background-color: rgb(32, 32, 32);
  font-family: sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: stretch;
  justify-content: center;
  padding: 1rem;
}

@keyframes highlight {
  from {
    background-color: rgb(122, 122, 122);
  }
  to {
    background-color: rgb(78, 78, 78);
  }
}
